# {{ ansible_managed }}

# Prevent PHP scripts from being executed inside the uploads folder.
location ~* /public/assets/.*\.php$ {
  deny all;
}

location / {
  try_files $uri $uri/ /index.php?$args;
}

location = /favicon.ico { access_log off; log_not_found off; }
location = /robots.txt  { access_log off; log_not_found off; }

location ~* (?:^|/)\. {
  deny all;
}

location ~* (?:\.(?:bak|config|sql|fla|psd|ini|log|sh|inc|swp|dist)|~)$ {
  deny all;
}

location ~* \.(?:manifest|appcache|html?|xml|json)$ {
  try_files $uri /index.php?$query_string;
  expires -1;
}

location ~* \.(?:rss|atom)$ {
  try_files $uri /index.php?$query_string;
  expires 1h;
  add_header Cache-Control "public";
}

location ~* \.(?:jpg|jpeg|gif|png|ico|cur|gz|svg|svgz|mp4|ogg|ogv|webm|htc)$ {
  try_files $uri /index.php?$query_string;
  expires 1M;
  add_header Cache-Control "public";
}

location ~* \.(?:css|js)$ {
  try_files $uri /index.php?$query_string;
  expires 1y;
  add_header Cache-Control "public";
}

location ~* \.(?:ttf|ttc|otf|eot|woff)$ {
  try_files $uri /index.php?$query_string;
  expires 1M;
  add_header Cache-Control "public";
}

# Set the max body size equal to PHP's max POST size.
client_max_body_size {{ php_post_max_size | default('25m') | lower }};

include h5bp/directive-only/x-ua-compatible.conf;
include h5bp/directive-only/extra-security.conf;
include h5bp/location/cross-domain-fonts.conf;
include h5bp/location/protect-system-files.conf;
